# Host L2 build artifacts (W2-17a chplan harness)
chplan/test_chplan
chplan/test_chplan_rust
chplan/librust_chplan.a
chplan/chplan_data.o

# W3-01 swcrypto wrapper harness
swcrypto/test_swcrypto
swcrypto/test_swcrypto_rust
swcrypto/librust_swcrypto.a

# T5 security harness
security/test_security
security/test_security_rust
security/test_wep_primitives
security/test_wep_primitives_rust
security/test_wep_frames
security/test_wep_frames_rust
security/test_tkip_mic
security/test_tkip_mic_rust
security/test_tkip_phase
security/test_tkip_phase_rust
security/librust_security.a
security/security_type_c_ref.o
security/security_rest_misc_c_ref.o

# T5 wlan_util harness
wlan_util/test_wlan_util
wlan_util/test_wlan_util_rust
wlan_util/test_ratetbl
wlan_util/test_ratetbl_rust
wlan_util/test_wlan_tail
wlan_util/test_wlan_tail_rust
wlan_util/librust_wlan_util.a
wlan_util/wlan_util_rate_c_ref.o
# W3-18 io harness
io/test_io
io/test_io_rust
io/librust_io_rest.a
io/io_rest_c_ref.o
# W3-19 rf harness
rf/test_rf
rf/test_rf_rust
rf/librust_rf_rest.a
rf/rf_rest_c_ref.o
# W3-33 rm harness
rm/test_rm
rm/test_rm_rust
rm/librust_rm_util.a
rm/rm_rest_c_ref.o
rm/rm_rest_rust_ref.o
# W3-35 vht harness
vht/test_vht
vht/test_vht_rust
vht/librust_vht.a
vht/vht_rest_c_ref.o
vht/vht_rest_rust_ref.o
vht/vht_rest_host.o
vht/vht_rest_shim_host.o
vht/test_vht_restructure
vht/test_vht_restructure_rust
vht/librust_vht_restructure.a
vht/test_vht_restructure_smoke
